# Claves privadas o sensibles
serviceAccountKey.json

# Archivos binarios o compilados
*.exe
*.out
*.o

# Carpetas de dependencias (si usas vendoring)
vendor/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
